@import './base.css';
@import 'remixicon/fonts/remixicon.css';
@import './tengxing.css';

#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

input:invalid + span.validation::after {
  content: ' ✖';
}

input:valid + span.validation::after {
  content: ' ✓';
}
