.input-group {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  color: #222222;
  background-color: #ffffff;
  border: 2px solid #dcdfe6;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  animation: fadeInUp 0.5s ease;

  &:focus-within {
    border-color: #42b983;
    box-shadow: 0 0 0 3px rgba(66, 185, 131, 0.2);
  }

  input[type='text']:focus {
    outline: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  color: #222222;
  background: rgba(255, 255, 255, 1);
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.25rem;
}
